*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
ol {
	list-style: none;
}
